/* line 1, ie8.less */
.gradient {
  filter: none;
}
/* line 1, ie8.less */
.b-header_menu:before {
  display: none;
}
/* line 1, ie8.less */
.b-header_menu:hover {
  border-top: 0px !important;
  top: 1px;
}
/* line 1, ie8.less */
.b-header_menu.hover {
  height: 606px;
  overflow: visible !important;
  margin: 36px 0px 0px;
  border-top: 1px solid #fff !important;
  top: 0px;
}
/* line 1, ie8.less */
.b-header_menu.hover:hover {
  border-top: 0px !important;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover {
  height: 606px;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover > li:hover {
  height: 606px;
  position: relative;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover > li:hover.first > h1:after {
  width: 144px;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover > li:hover.second > h1:after {
  width: 200px;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover > li:hover.third > h1:after {
  width: 177px;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover > li:hover.fourth > h1:after {
  width: 153px;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover > li:hover.fifth > h1:after {
  width: 202px;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover > li.first > ul {
  border-bottom-left-radius: 0px !important;
}
/* line 1, ie8.less */
.b-header_menu.hover > ul.b-level_one:hover > li.fifth > ul {
  border-bottom-right-radius: 0px !important;
}
/* line 1, ie8.less */
ul.b-news_categorys li.current:before,
ul.b-news_categorys li.current:hover:before {
  right: -27px;
}
